<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap</title>
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/bootstrap-tagsinput-latest/src/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="/static/bootstrap-table-1.15.3/dist/bootstrap-table.min.css" rel="stylesheet">
    <style type="text/css">
        .label {
            background: #1abc9c;
            border: 0;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<!--导航栏部分。暂时没用，先占个位置，以后需要用时再补充-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--主体部分-->
<div class="container-fluid">
	<div class="row-fluid">
		<div class="col-xs-12 col-md-6 head">
			<form class="form-search" method="get" action="job/jobs">
				<label style="">城市</label><input id="city" name="city" class="input-medium search-query" type="text" placeholder="默认深圳"/>
				<label style="">职位</label><input id="job" name="job" class="input-medium search-query" type="text" placeholder="默认python"/>
                <button id="search" type="submit" class="btn">查找</button>
			</form>

		</div>
		<div class="col-xs-12 col-md-6 head">
            <div class="row">
                <div class="col-md-2">
                    <label style=""><h5>能力标签&nbsp</h5></label>

            </div>
            <div class="col-md-8">
                <form action="job/analysis" method="POST" class="form-search" onkeydown="if(event.keyCode==13){return false;}"> {% csrf_token %}
                <input name="tags" id="tagsinputval" class="tagsinput" data-role="tagsinput" value="" placeholder="输入点击确认，最后提交"/>
                    <input type="text" value="" style="display: none">
                <button id="ok" type="submit">确认</button>
<!--                     <button id="ok" onclick="sendtags()">确认</button>-->

                </form>
            </div>
                <div class="col-md-2">

                </div>
		    </div>
		</div>
	</div>
</div>


{% block table %}

{% endblock table %}
<script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/bootstrap-tagsinput-latest/src/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="/static/bootstrap-tagsinput-latest/src/bootstrap-tagsinput-angular.js"></script>
<script type="text/javascript" src="/static/bootstrap-table-1.15.3/dist/bootstrap-table.min.js"></script>
<script type="text/javascript">
        function sendtags(){
            tags = $("#tagsinputval").val();//tagsinput('items');
            params = {
                'tags':tags,
            };
            $.post('/job/analysis',params,function (data) {
                alert("post标签成功");
                window.location.href="job/analysis";
            });
        }
        function clearAll(){
            // $('input').tagsinput('removeAll');
            if(confirm("是否要全部清除？")){
            $("#tagsinputval").tagsinput('removeALL');
        }
        }
    </script>
{% block script %}{% endblock script %}
</body>
</html>