{% extends 'base.html' %}
{% block table %}
    <!--职位列表展示-->
	<div class="row-fluid">
		<div class="span12">
			<table class="table" id="data_table">
				<thead>
					<tr>
						<th>职位编号</th>
						<th>职位名称</th>
						<th>工资范围</th>
						<th>工作地点</th>
						<th>经验要求</th>
						<th>学历要求</th>
						<th>公司名称</th>
						<th>匹配程度</th>
						<th>推荐指数</th>
                        <th>投递简历</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>

</div>



{% endblock table %}

<script src="/static/bootstrap-3.3.7-dist/js/jquery-1.12.4.min.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="/static/bootstrap-tagsinput-latest/src/bootstrap-tagsinput.js"></script>
<script src="/static/bootstrap-tagsinput-latest/src/bootstrap-tagsinput-angular.js"></script>


</body>
</html>