{% extends 'base.html' %}
{% block table %}
    <!--职位列表展示-->
	<div class="row-fluid">
		<div class="span12">
			<table class="table" id="data_table">
				<thead>
					<tr>
						<th>职位编号</th>
						<th>职位名称</th>
						<th>工资范围</th>
						<th>工作地点</th>
						<th>经验要求</th>
						<th>学历要求</th>
						<th>公司名称</th>
						<th>公司评分</th>
						<th>面试难度</th>
                        <th>投递简历</th>
					</tr>
				</thead>

				{% for data in data_boss %}

					<tr class="clickable-row" data-href="{% url 'job:company'%}/?id={{data.jobId}}&company={{data.content.2}} ">
						<td>{{data.jobId}}</td>
						<td>{{ data.content.0|default:'空' }}</td>
						<td>{{data.content.1|default:'空'}}</td>
						<td>{{data.content.3}}</td>
						<td>{{data.content.4}}</td>
						<td>{{data.content.5}}</td>
						<td id="company">{{data.content.2}}</td>
						<td id="match">{{data.company_score}}</td>
						<td id="recommend">{{data.interview}}</td>
						<td><a href="/job/company/?company={{data.content.2}}&jobId={{data.jobId}}" class="button">查看详情</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

</div>

<div class="container" style="text-align: center">
    <footer class="bottom">
    <ul class="pagination">
		<li>
			<a href="{% url 'job:index_data' %}?city={{request.session.city}}&job={{request.session.job}}&page=1">第一页</a>
		</li>
        <li>
        {% if page > 1 %}
        <a href="{% url 'job:index_data' %}?city={{request.session.city}}&job={{request.session.job}}&page={{page|add:'-1'}}">上一页</a>
            {% else %}
            <a href="#">上一页</a>
        {% endif %}
        </li>

        {% for p in page_counts %}
            {% if p == page %}
        <li class="active"><a href="{% url 'job:index_data' %}?city={{request.session.city}}&job={{request.session.job}}&page={{p}}">{{p}}</a>
            {% else %}
        <li><a href="{% url 'job:index_data' %}?city={{request.session.city}}&job={{request.session.job}}&page={{p}}">{{p}}</a></li>
            {% endif  %}
        {% endfor %}

        <li>
        {% if page < page_count %}
        <a href="{% url 'job:index_data' %}?city={{request.session.city}}&job={{request.session.job}}&page={{page|add:'1'}}">下一页</a>
            {% else %}
            <a href="#">下一页</a>
        {% endif %}
        </li>
		<li>
			<a href="{% url 'job:index_data' %}?city={{request.session.city}}&job={{request.session.job}}&page={{page_count}}">最后一页</a>
		</li>
    </ul>
        </footer>
</div>



{% endblock table %}

<script src="/static/bootstrap-3.3.7-dist/js/jquery-1.12.4.min.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
<script src="/static/bootstrap-tagsinput-latest/src/bootstrap-tagsinput.js"></script>
<script src="/static/bootstrap-tagsinput-latest/src/bootstrap-tagsinput-angular.js"></script>
<script type="text/javascript">
        function sendtags(){
            tags = $("#tagsinputval").val();//tagsinput('items');
            params = {
                'tags':tags,
            };
            $.get('/job/analysis',params,function (data) {
            	alert('分析成功');
            });
        }
        function clearAll(){
            // $('input').tagsinput('removeAll');
            if(confirm("是否要全部清除？")){
            $("#tagsinputval").tagsinput('removeALL');
        }
        }
    </script>

</body>
</html>